.card {
    width: 300;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    background-color: rgb(245, 245, 245);
}

.chat {
    width: 32vw;
    height: 87vh;
    position: fixed;
    margin-left: 65vw;
    margin-top: 2vh;
}

.movie {
    width: 61vw;
    height: 87vh;
    position: fixed;
    margin-left: 2vw;
    margin-top: 2vh;
}

.input {
    width: 100%;
    margin-top: 10%;
    position: relative;
}

.send_button {
    height: 5vh;
}

.emojies {
    zoom: 1.5;
}

.chat-area {
    min-height: 65vh;
    max-width: 32vw;
    max-height: 65vh;
    overflow-y: auto;
}

.chat-area::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.message-cloud {
    background-color: #1677FF;
    padding: 10px;
    border-radius: 15px;
    display: inline-block;
    max-width: 90%;
    word-wrap: break-word;
    margin: 0;
    color: white;
}

.message-cloud.me {
    background-color: rgb(0, 207, 64);
    padding: 10px;
    border-radius: 15px;
    display: inline-block;
    max-width: 90%;
    word-wrap: break-word;
    margin: 0;
    color: white;
    text-align: left;
}

.message-box.me {
    text-align: right;
}

.search {
    width: 61vw;
    margin-left: 2vw;
    margin-top: 1vh;
}

.leave-chat {
    width: 5vw;
    margin-left: 29vw;
    margin-top: 1vh;
}

.user-exists {
    margin-left: 23%;
    color: red;
}

.go-bottom {
    left: 50%;
    top: 73vh;
    position: absolute;
}

.emoji-picker {
    position: absolute;
    bottom: 110%;
    right: 0;
}

.custom-dragger {
    width: 18%;
    margin: 0 auto;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}