.card {
    width: 300;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    background-color: rgb(245, 245, 245);
}

.chat-area::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.message-cloud {
    background-color: #1677FF;
    padding: 10px;
    border-radius: 15px;
    display: inline-block;
    max-width: 90%;
    word-wrap: break-word;
    margin: 0;
    color: white;
}

.message-cloud.me {
    background-color: rgb(0, 207, 64);
    padding: 10px;
    border-radius: 15px;
    display: inline-block;
    max-width: 90%;
    word-wrap: break-word;
    margin: 0;
    color: white;
    text-align: left;
}

.message-box.me {
    text-align: right;
}

.search {
    margin-left: 25px;
    width: calc(100% - 60%);
}

.leave-chat {
    float: right;
    margin-right: 25px;
}

.movie {
    width: calc(100% - 35%);
    height: calc(100vh - 15vh);
    float: left;
    position: relative;
    margin-top: 20px;
    margin-left: 25px;
}

.chat {
    width: calc(100% - 70%);
    height: calc(100vh - 15vh);
    float: right;
    margin-top: 20px;
    margin-right: 25px;
}

@media screen and (max-width: 1200px) {
    .movie{
        width: 100%;
        height: auto;
        margin-left: 0;
        margin-right: 0;
    }

    .chat {
        width: 100%;
        height: auto;
        margin-left: 0;
        margin-right: 0;
    }

    .search {
        margin-left: 0;
    }

    .leave-chat {
        margin-right: 0;
    }
  }

.chat-area {
    height: calc(100vh - 33vh);
    overflow-y: auto;
}

.input {
    margin-top: 15px;
    width: 100%;
}

.send_button {
    height: 45px;
}

.go-bottom {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}
